'.platform-darwin atom-text-editor[data-grammar~=python]:not(.mini)':
  'alt-cmd-g': 'autocomplete-python:go-to-definition'

'.platform-linux atom-text-editor[data-grammar~=python]:not(.mini)':
  'ctrl-alt-g': 'autocomplete-python:go-to-definition'

'.platform-win32 atom-text-editor[data-grammar~=python]:not(.mini)':
  'ctrl-alt-g': 'autocomplete-python:go-to-definition'
